{% extends 'base.html' %} {% load static %}
{% block content %}
    <h1 class="mt-5 text-muted">Admin Dashboard</h1>

    <table class="table table-hover table-bordered table-responsive">
        <thead>
            <tr class="bg-dark text-white">
                <th scope="col">Trader's Name</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            {% for trader in traders %}
            <tr>
                <td class="fw-bold text-muted">{{ trader.name.title }}</td>
                <td>
                    <a href="/admin_dashboard/{{ trader.id }}" class="fw-bold">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
