{% extends 'base.html' %} {% load static %}
{% block content %}
<div class="mt-5">
<h2 class="text-muted">{{trader.name.title}}'s Details</h2>
<p class="fw-bold">Balance: <span class="fw-bold text-white bg-dark px-2">${{trader.balance}}</span></p>




<table class="table table-hover table-bordered table-responsive">
    <thead>
        <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Profit ($)</th>
            <th scope="col">Loss ($)</th>
        </tr>
    </thead>
    <tbody>
        {% for trad, timestamp in prof_lost.items %}
        <tr>
            <td>{{ timestamp }}</td>
            {% if trad > 0 %}
            <td class="text-white bg-success">{{ trad }}</td>
            <td></td>
                {% elif trad < 0 %}
                <td></td>
                <td class="text-white bg-danger">{{ trad }}</td>
                {% else %}
                <td class="bg-secondary text-white">No profit</td>
                <td class="bg-secondary text-white">No loss</td>
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


<div>
    <a href="/{{ trader.id }}" class="d-flex align-items-start justify-content-start text-decoration-none text-dark fw-bold my-4" style="width: fit-content;"> see graph
        <i class="fa fa-caret-right h4"></i>
    </a>
</div>
</div>
{% endblock content %}